{% extends "base.html" %}

{% block main_title %}
	404错误，暂时找不到你要的页面 <br>
	<small>客官，请回吧！</small>
{% endblock %}

{% block content %}
	<dl>
				<dt>
					大话西游：
				</dt>
 				<dd>
					曾经有一份真正的页面放在我面前，<br>
					我没有珍惜。<br>
					等我失去的时候，<br>
					我才后悔莫及，<br>
					人世间最痛苦的事莫过于此。<br>
					如果上天能给我一个再来一次的机会，<br>
					我会对那个页面说三个字，<br>
					四零四，<br>
					页面未找到。<br>
				</dd>
				<br>
				<dt>
					画外音：
 				</dt>
				<dd>
					跟你说过叫你不要乱扔东西，你怎么又…<br>
					你看我还没说完你就把页面扔掉了！<br>你把它扔掉会污染花花草草也是不对的。
				</dd>
	</dl>
{% endblock %}

{% block operate %}
	<button type="button" class="btn btn-default btn-block btn-primary" onclick="javascript:history.back(-1);">返回刚才页面</button>
{% endblock %}
