{% extends "base.html" %}
{% import '_pagination.html' as p %}

{% block main_title %}
	零星采购编号申请登记 <br>
	<small>近期采购概况如下：</small>
{% endblock %}
	
{% block content %}
	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th>
					#
				</th>
				<th>
					零星采购编号
				</th>
				<th>
					项目
				</th>
				<th>
					经办人
				</th>
				<th>
					操作
				</th>
			</tr>
		</thead>
		<tbody>
			{% for obj in result %}
			<tr>
				<td class="seq">
					{{ loop.index }}
				</td>
				<td class="number">
					{% set number = obj.id + obj.create_time|datetimeformat('%Y')|int * 10000 %}
					{{ number }}
				</td>
				<td class="item">
					{{ obj.item }}
				</td>
				<td class="operator">
					{{ obj.operator }}
				</td>
				<td class="operate">
					<!-- <a id="modal-query-here" href="#" role="button" class="btn-link" >查看详细</a> -->
					<a id="{{ obj.id }}" href="#modal-container-query-here" role="button" class="btn-link" data-toggle="modal" data-backdrop="static" onclick="query_here(this)">查看详细</a>
					<!-- <button type="button" class="btn btn-default" data-dismiss="modal">查看详细</button> -->
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if pagination %}
		{{ p.pagination_widget(pagination,'index') }}
	{% endif %}
	<div class="modal fade" id="modal-container-query-here" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 class="modal-title" id="myModalLabel">
						零星采购编号：
						<span class="text-primary" id="id"></span>
					</h3>
				</div>
				<div class="modal-body">
					<dl class="dl-horizontal">
						<dt>
							项目
						</dt>
						<dd id="item">
						</dd>
						<dt>
							创建时间
						</dt>
						<dd id="create_time">
						</dd>
						<dt>
							经办人
						</dt>
						<dd id="operator">
						</dd>
						<dt>
							备注
						</dt>
						<dd id="remark">
						</dd>
					</dl>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<a id="modal-new-purchase" href="#modal-container-new-purchase" role="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal" data-backdrop="static">编辑</a>
				</div>	
			</div>					
		</div>				
	</div>
	<div class="modal fade" id="modal-container-new-purchase" role="dialog" aria-labelledby="editinfo" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="editinfo">
						标题
					</h4>
				</div>
				<div class="modal-body">
					<form role="form" method="post">
						<div class="form-group">
							 <label for="inputPjname">项目名称（必选）</label><input type="text" class="form-control" id="inputPjname" name="inputPjname" value="茶叶采购" />
						</div>
						<div class="form-group">
							 <label for="inputPjmark">项目详细说明（可选）</label><textarea class="form-control" rows="5" id="inputPjmark" name="inputPjmark"/>11号线</textarea>
						</div>							
						<div class="modal-footer">
							 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> 
							 <a id="modal-query-here" href="#modal-container-query-here" role="button" class="btn btn-success" data-toggle="modal" data-dismiss="modal" data-backdrop="static">确认修改</a>
						</div>
					</form>
				</div>
			</div>
		</div>				
	</div>
	<div class="modal fade" id="modal-container-43560" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">
						标题
					</h4>
				</div>
				<div class="modal-body">
					<form role="form">
						<div class="form-group">
							 <label for="exampleInputEmail1">Email address</label><input type="email" class="form-control" id="exampleInputEmail1" />
						</div>
						<div class="form-group">
							 <label for="exampleInputPassword1">Password</label><input type="password" class="form-control" id="exampleInputPassword1" />
						</div>
						<div class="form-group">
							 <label for="exampleInputFile">File input</label><input type="file" id="exampleInputFile" />
							<p class="help-block">
								Example block-level help text here.
							</p>
						</div>
						<div class="checkbox">
							 <label><input type="checkbox" />Check me out</label>
						</div> <button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
				<div class="modal-footer">
					 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> 
					 <a id="findall" href="findall.html" role="button" class="btn btn-primary">提交查询</a>
				</div>
			</div>
		</div>
	</div>	
{% endblock %}

{% block operate %}
	<a id="modal-new-purchase" href="#modal-container-new-purchase" role="button" class="btn btn-primary btn-block" data-toggle="modal" data-backdrop="static">新增登记零星采购</a>
	<a id="findall" href="findall" role="button" class="btn btn-default btn-block">查看全部零星采购</a>
	<a id="modal-43560" href="#modal-container-43560" role="button" class="btn btn-default btn-block" data-toggle="modal" data-backdrop="static">查找零星采购信息</a>
{% endblock%}
