{% extends "base.html" %}
{% import '_pagination.html' as p %}

{% block main_title %}
	零星采购编号申请登记 <br>
	<small>近期采购概况如下：</small>
{% endblock %}
	
{% block content %}
	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th>
					#
				</th>
				<th>
					零星采购编号
				</th>
				<th>
					项目
				</th>
				<th>
					经办人
				</th>
				<th>
					操作
				</th>
			</tr>
		</thead>
		<tbody>
			{% for obj in result %}
			<tr>
				<td class="seq">
					{{ loop.index }}
				</td>
				<td class="number">
					{% set number = obj.id + obj.create_time|datetimeformat('%Y')|int * 10000 %}
					{{ number }}
				</td>
				<td class="item">
					{{ obj.item }}
				</td>
				<td class="operator">
					{{ obj.operator }}
				</td>
				<td class="operate">
					<a href="/query/{{ obj.id }}">查看详细</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if pagination %}
		{{ p.pagination_widget(pagination,'index') }}
	{% endif %}
{% endblock %}

{% block operate %}
	<a href="/new" class="btn btn-primary btn-block">新增登记零星采购</a>
	<a id="modal-43560" href="#modal-container-43560" role="button" class="btn btn-default btn-block" data-toggle="modal" data-backdrop="static">查找零星采购信息</a>
	<a id="findall" href="findall" role="button" class="btn btn-default btn-block">导出至Excel表格</a>
{% endblock%}
